.project-container,
.blog-post-container {
  .card {
    border-radius: 5px;
    height: 100%;
    transition: box-shadow 0.5s;

    a {
      height: 100%;
    }

    .card-img {
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top;
      opacity: 0.8;
      height: 250px;
      border-radius: 5px 5px 0 0;
    }

    .card-title {
      margin-bottom: 0;
      font-size: 18px;
    }

    .card-body {
      padding: 2rem;
    }

    .card-description {
      color: $base-medium-gray;
    }

    &:hover {
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.15);
    }
  }

  .card-as-link {
    text-decoration: none;
    color: inherit;
  }
}
