@import "settings";

@mixin typography {
  .bold {
    font-weight: bold !important;
  }

  .italic {
    font-style: italic !important;
  }

  .no-underline {
    text-decoration: none !important;
  }

  .underline {
    text-decoration: underline !important;
  }

  .small-text {
    font-size: $base-font-size*0.9;
  }
}
