@mixin nav-link-styling {
  text-decoration: none;
  color: $base-white;
  font-weight: bold;
  margin-right: $base-spacing-small;

  @include media-breakpoint-down(md) {
    margin-right: 0;
    padding-left: 0;
  }

  &.active,
  &:hover {
    span {
      border-bottom: 2px solid $base-white;
    }
  }
}

.top-bar {
  position: fixed;
  width: 100%;
  padding-left: 5rem;
  padding-right: 5rem;
  transition: all 1s;
  background: transparent;

  @include media-breakpoint-down(md) {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .top-bar-right {
    ul {
      list-style: none;
      margin-bottom: 0;

      li {
        display: inline;
        padding: 1rem;
      }
    }

    a {
      @include nav-link-styling;
    }
  }

  .signature-icon {
    background-image: url("/images/favicon.png");
    width: 50px;
    height: 50px;
    border: 2px solid $base-black;
    border-radius: 50%;
    background-size: cover;
    cursor: pointer;
  }

  .blog_nav_menu {
    @include media-breakpoint-down(sm) {
      justify-content: normal !important;
      margin-left: 10px;
    }
  }

  &.scroll-motion {
    z-index: 1;
    background: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);

    // .signature-icon {
    //   background-image: url("/images/favicon-black.png");
    //   border: 2px solid #555;
    // }

    .top-bar-right {
      a {
        color: #555;

        &.active,
        &:hover {
          span {
            border-bottom: 2px solid #555;
          }
        }
      }
    }
  }
}
