@use "settings" as *;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $base-font;
  font-size: $base-font-size;
  color: $base-color;
}

body,
html {
  height: 100%;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
  height: auto;
}

.txtc {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.small-text {
  font-size: $base-font-size * 0.9;
}
