@use "settings" as *;

.topBar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0.75rem 5rem;
  z-index: 10;
  background: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: $breakpoint-md) {
    padding: 0.75rem 2rem;
  }
}

.signatureIcon {
  background-image: url("/images/favicon.png");
  width: 50px;
  height: 50px;
  border: 2px solid $base-black;
  border-radius: 50%;
  background-size: cover;
  cursor: pointer;
  display: block;
}

.siteTitle {
  font-weight: bold;
  color: #555;
}
